.submitbutton{
    padding-left: 45%
}

h3{
    text-align: center
}

.otpData{
    text-align: center
}

.Loading{
    padding-left: 45%
}

.resendOTP{
    padding-left: 42%
}

.app-wrapper{
    padding: 30px;
}